<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div id="block-rows">
  <div *ngFor="let block of blocks; let i=index">
    <mat-form-field>
      <input matInput placeholder="Color" [value]="block.color" [disabled]="!block.active">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Total Rows" [value]="block.totalRows" type="number" [disabled]="!block.active">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Current Rows" [value]="block.currentRows" type="number" [disabled]="!block.active">
    </mat-form-field>
    <button *ngIf="block.active" mat-mini-fab color="primary" (click)="increment(i)">+</button>
    {{block | json}}
  </div>

</div>


