<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<form [formGroup]="orderForm" novalidate>
    <div formArrayName="addresses">
      <div *ngFor="let a of orderForm.get('addresses').controls; let i=index" [formGroupName]="i">
        <mat-form-field>
          <input matInput placeholder="Color" formControlName="color">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Total Rows" formControlName="totalRows">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Current Rows" formControlName="currentRows">
        </mat-form-field>
<!--        <button mat-raised-button type="button" (click)="removeAddress(i)">Remove</button>-->
        <button mat-mini-fab type="button" color="primary" (click)="increment(i)">+</button>
      </div>

  </div>

  <div class="top-pad">
    <button mat-raised-button type="button" (click)="addNewAddress()">New Block</button>
  </div>

  <div class="top-pad">
    <button mat-raised-button type="button">Place order</button>
  </div>

</form>
<pre>{{orderForm.value | json}}</pre>
